body{
    margin: 0px;
    background: linear-gradient(120deg,#1e14af,#b60e0e);
}



nav{
    position: absolute;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right bottom, 
     rgba(255,255,255,0.9)
    ,rgba(255,255,255,0.5));
    backdrop-filter: blur(4rem);

    font-size: 14px;
    padding: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius:0.5rem;
    border-bottom-right-radius: 0.5rem;

}

input{
    background: linear-gradient(to right bottom, 
     rgba(255,255,255,0.9)
    ,rgba(255,255,255,0.3));
    border: none;
    width: 90%;
    font-family: 'Open Sans',sans-serif;;
}


#links{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f1f1f2;
}

#links a{
    margin: 10px;
}
a{
    cursor: pointer;
}



header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    height: 80px;
    color: white;
}


nav img{
    width: 80px;
    height: 80px;
    padding-left: 10px;
}

footer{
    background-color: rgb(69, 74, 80);
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    color: whitesmoke;
}

 #Prod{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 90%;
}

 .cubo{

    border-radius: 1rem;
    background: linear-gradient(to right bottom, 
     rgba(255,255,255,1)
    ,rgba(255,255,255,0.5));
    box-shadow: 1px 1px 30px rgba(122,122,122,0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 40%;

    margin: 20px;
}

section h1 {
    color: #426696;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    
}

section h2{
    color: #426696;
    font-family: 'Roboto Mono', monospace;
}

section p{
    color: #426696;
    font-family: 'Roboto Mono', monospace;
}



#menu{
    display: none;
}
#menu div{
    width: 25px;
    height: 3px;
    background-color: #f1f1f2;
    margin: 5px 0;
}



@media(max-width: 750px){
    #links{
        display: none;
    }
    #menu{
        display: block;
    }
    body{
        margin: 0;
        font-size: 20px;
    }
    section{
        width: 80%;
        height: 35%;
        font-size: 10px;
        margin: 5px;
    }
    section h1{
        font-size: 15px;
    }
    
    body{
        display: flex;
        flex-direction: column;
    }


}