body{
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    
    }
    h1{
        font-family: 'Oswald', sans-serif;
        color: #426696;
        font-size: 27px;
    }
    
    .iscrizione{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); 
        width: 300px;
        padding: 10px;
        background: white;
        border-radius: 10px;
    }
    
    
    form .username{
        border-bottom: 2px solid silver;
    }
    
    
    .username input{
        width: 90%;
        height: 40px;
        font-size: 16px;
        border:none;
        background: none;
        outline: none;
    } 
    
    form .password{
        border-bottom: 2px solid silver;
    }
    
    .password input{
        width: 90%;
       
        height: 40px;
        font-size: 16px;
        border:none;
        background: none;
        outline: none;
    } 

    form .cf{
        border-bottom: 2px solid silver;
    }
    
    .cf input{
        width: 90%;
       
        height: 40px;
        font-size: 16px;
        border:none;
        background: none;
        outline: none;
    } 

    form .conferma_password{
        border-bottom: 2px solid silver;
    }
    
    .conferma_password input{
        width: 90%;
       
        height: 40px;
        font-size: 16px;
        border:none;
        background: none;
        outline: none;
    }   
    
    #button input{
        margin-top: 15px;
        padding: 7px 12px;
        background: linear-gradient(120deg,#2980b9,#8e44ad);
        border-radius: 100px;
        cursor: pointer;
    }
    
    #button input:hover{
       background:white ;
    }
    
    .account{
        font-family: 'Oswald', sans-serif;
        color: #426696;
        font-size: 17px;
    }


    
    @media(max-width: 750px){
        .login{    
            width: 80%;
        }
    
    
    }